<div id="address-search"
     class="absolute top-3 left-1/2 -translate-x-1/2 z-[2000]
            bg-white p-3 w-80 rounded-xl border border-gray-300
            shadow-md space-y-2">

    <input
            id="address-input"
            type="text"
            placeholder="Inserisci indirizzo..."
            class="w-full px-3 py-2 border border-gray-300 rounded-lg
               focus:outline-none focus:ring-2 focus:ring-blue-400
               text-sm"
    />

    <div id="address-suggestions"
         class="hidden border border-gray-300 rounded-lg max-h-48
                overflow-y-auto bg-white text-sm shadow-sm">
    </div>
</div>
