<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{product/components/head :: head('Marketplace')}"></head>
<body class="bg-gray-50">
<div th:replace="~{product/components/navbar/navigation-bar :: navigation(${user.getSimpleRole()})}"></div>
<section class=" py-8 antialiased md:py-12 h-full">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <!-- Bundle Title -->
        <h1 class="text-5xl text-black mb-5 font-bold">New Bundle</h1>
        <form th:action="@{/bundle/create}" th:object="${bundle}" th:method="POST">

            <div>
                <div th:replace="~{/product/components/form/input :: input('Name', 'text', 'name', 'name', 'Nome Bundle..', null)}"
                     th:field="*{name}"></div>
            </div>

            <input id="bundleTotal" type="hidden" th:field="*{price}">

            <div>
                <h2 class="text-black font-bold text-4xl mb-4">Product Available</h2>
                <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
                    <div th:each="product : ${products}"
                         class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm">

                        <!-- PRODUCT IMAGE -->
                        <div th:replace="~{/product/components/card/card-image :: card-image}"></div>

                        <!-- PRODUCT BODY -->
                        <div class="pt-6">
                            <div class="flex items-start justify-between gap-2">
                                <a th:text="${product.getName()}"
                                   class="text-lg font-semibold leading-tight text-gray-900"></a>
                                <span th:if="${user.getSimpleRole() == 'DISTRIBUTOR'}"
                                      th:switch="${product.status}" class="px-3 py-1 rounded-full text-xs font-semibold"
                                      th:classappend="${product.status.name() == 'PENDING'} ? ' bg-amber-100 text-amber-800' :
                                             (${product.status.name() == 'APPROVED'} ? ' bg-green-100 text-green-700' : ' bg-red-100 text-red-700')"
                                      th:text="${product.status.name() == 'PENDING'} ? 'In revisione' :
                                            (${product.status.name() == 'APPROVED'} ? 'Approvato' : 'Rifiutato')"></span>
                            </div>
                            <div class="flex-1 py-2 text-2xl">
                                <p th:text="${product.getPrice() + ' €'}"
                                   class="text-2xl font-extrabold leading-tight text-gray-900"></p>
                            </div>
                            <ul class="mt-2 flex flex-col space-y-2">
                                <li>
                                    <p th:text="${product.getCategory()}"
                                       class="w-fit text-sm font-medium text-black border border-black rounded-lg py-1 px-2">
                                        Random
                                        Category</p>
                                </li>

                                <li>
                                    <p th:text="${'Expire Date: ' + product.getExpireDate()}"
                                       class="text-sm font-medium text-gray-500">
                                        2025-12-12</p>
                                </li>

                            </ul>
                            <div th:if="${product.status.name() == 'APPROVED'}" class="mt-4">
                                <input type="checkbox"
                                       th:value="${product.getId()}"
                                       th:data-price="${product.price}"
                                       class="product-checkbox"
                                       th:field="*{productList}">
                                <span>ADD</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="text-3xl text-black font-bold">Bundle Total</h2>
            <hr class="my-5 w-[500px] text-white"/>
            <p id="bundleTotalView" class="text-xl font-bold text-black mb-3"></p>
            <button type="submit"
                    class="inline-flex items-center rounded-lg px-5 py-2.5 text-sm font-medium focus:outline-none focus:ring-4 cursor-pointer transition-colors duration-300 bg-blue-700 text-white hover:bg-blue-800 focus:ring-blue-300"
            >
                Crea Bundle
            </button>

        </form>
        <div class="flex justify-end">
            <div th:if="${productError}" role="alert" class="mb-4">
                <div class="bg-red-600 text-white font-semibold rounded-t px-4 py-2">
                    Errore
                </div>
                <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                    <p th:text="${productError}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll(".product-checkbox");
        const totalInput = document.getElementById("bundleTotal");      // hidden field sent to backend
        const totalView = document.getElementById("bundleTotalView");   // visual field

        function updateTotal() {
            let total = 0;

            checkboxes.forEach(cb => {
                if (cb.checked) {
                    total += parseFloat(cb.dataset.price);
                }
            });

            totalInput.value = total.toFixed(2);
            totalView.innerText = total.toFixed(2) + " €";
        }

        checkboxes.forEach(cb => cb.addEventListener("change", updateTotal));
    });
</script>
</body>
</html>